<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/lib/layui/lay/modules/laypage.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="backstage-user-form">
            <input type="hidden" name="pageSize" th:value="${page.pageSize}"/>
            <input type="hidden" name="currentPage"/>
            <input type="text"
                   name="displayName" placeholder="请输入用户名"
                   autocomplete="off" class="layui-input" th:value="${displayName}">

            <div class="layui-input-inline">
                <select lay-verify="required" lay-search="" id="workshopId" name="workshopId">
                    <option value="">选择或输入车间</option>
                    <option th:each="workshop, iterStat : ${workshops}"
                            th:value="${workshop.id}"
                            th:text="${workshop.name}"
                            th:selected="${workshop.id == workshopId}">车间
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="addUser()"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table class="layui-table" lay-filter="akagi">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
            </th>
            <th>用户名</th>
            <th>显示姓名</th>
            <th>电务段</th>
            <th>车间</th>
            <th>工区</th>
            <th>加入时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterstart : ${users}">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary"
                     th:data-displayName="${user.displayName}"
                     th:data-id='${user.id}'>
                    <i class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td th:text="${user.userName}">用户名</td>
            <td th:text="${user.displayName}">显示姓名</td>
            <td th:text="${user.sectionName}">电务段</td>
            <td th:text="${user.workshopName}">车间</td>
            <td th:text="${user.workAreaName}">工区</td>
            <td th:text="${user.addTime}">addTime</td>
        </tr>
        </tbody>
    </table>
    <div th:include="/common/page::page('backstage-user-form')"></div>

</div>
<script th:inline="javascript">
    function addUser() {
        // 添加周期计划页上的执行人id input
        const executeUserIdsInput = $('#executeUserIds', parent.document);
        // 添加周期计划页上的执行人name input
        const executeUserNamesInput = $('#executeUserNames', parent.document);

        const originalIds = executeUserIdsInput.val();
        const originalNames = executeUserNamesInput.val();

        const formDisplayNames = tableCheck.getAttribute('displayName');
        const formUserIds = tableCheck.getAttribute('id');

        // 添加后的用户名
        let inputNameList = originalNames ? originalNames.split(",") : [];
        for (let i = 0; i < formDisplayNames.length; i++) {
            const formDisplayName = formDisplayNames[i];
            if (inputNameList.includes(formDisplayName)) {
                executeUserNamesInput.val(inputNameList);
            } else {
                inputNameList.push(formDisplayName);
                executeUserNamesInput.val(inputNameList);
            }
        }

        //添加后的用户id
        let inputIdList =  originalIds ? originalIds.split(",") : [];
            for (let i = 0; i < formUserIds.length; i++) {
                const formUserId = formUserIds[i];
                if (inputIdList.includes(formUserId)) {
                    executeUserIdsInput.val(inputIdList);
                } else {
                    inputIdList.push(formUserId);
                    executeUserIdsInput.val(inputIdList);
                }
            }


        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        //layer.msg(index);
        parent.layer.close(index); //再执行关闭
    }
</script>
</body>

</html>