<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script src="/js/util.js"></script>

</head>

<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="backstage-line-form">
            <!--/*@thymesVar id="page" type="com.yingda.lkj.beans.system.Page"*/-->
            <input type="hidden" name="pageSize" th:value="${page.pageSize}"/>
            <input type="hidden" name="currentPage"/>
            <input type="hidden" name="workAreaId" th:value="${workAreaId}">
            <input type="text"
                   name="railwayLineName" placeholder="请输入线路名"
                   autocomplete="off" class="layui-input" th:value="${railwayLineName}">
            <input type="text"
                   name="stationName" placeholder="请输入车站名"
                   autocomplete="off" class="layui-input" th:value="${stationName}">
            <input type="text"
                   name="workshopName" placeholder="请输入车间名"
                   autocomplete="off" class="layui-input" th:value="${workshopName}">
            <input type="text"
                   name="deviceTypeName" placeholder="请输入设备类型"
                   autocomplete="off" class="layui-input" th:value="${deviceTypeName}">
            <input type="text"
                   name="deviceSubTypeName" placeholder="请输入设备子类型"
                   autocomplete="off" class="layui-input" th:value="${deviceSubTypeName}">
            <input type="text"
                   name="deviceName" placeholder="请输入设备名"
                   autocomplete="off" class="layui-input" th:value="${deviceName}">
            <input type="text"
                   name="deviceCode" placeholder="请输入设备编码"
                   autocomplete="off" class="layui-input" th:value="${deviceCode}">

            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            <span type="button" class="layui-btn" onclick="addDevice()"><i class="layui-icon"></i>添加</span>
        </form>
    </div>
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>所属线路</th>
            <th>车站</th>
            <th>车间</th>
            <th>设备类型</th>
            <th>设备子类型</th>
            <th>设备名</th>
            <th>编码</th>
            <th>加入时间</th>
        </thead>
        <tbody>
        <tr th:each="device, iterstart : ${devices}">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary"
                     th:data-deviceName='${device.name}'
                     th:data-deviceSubTypeId="${device.deviceSubTypeId}"
                     th:data-id='${device.id}'>
                    <i class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td th:text="${device.railwayLineName}">所属线路</td>
            <td th:text="${device.stationName}">车站</td>
            <td th:text="${device.workshopName}">车间</td>
            <td th:text="${device.deviceTypeName}">设备类型</td>
            <td th:text="${device.deviceSubTypeName}">设备子类型</td>
            <td th:text="${device.name}">设备名</td>
            <td th:text="${device.code}">编码</td>
            <td th:text="${device.addTime}">addTime</td>
        </tr>
        </tbody>
    </table>
    <div th:include="/common/page::page('backstage-line-form')"></div>
</div>
</body>
<script>
    function addDevice() {
        $('#deviceName', parent.document).val('');
        $('#deviceId', parent.document).val('');
        $('#deviceSubTypeId', parent.document).val('');
        const executeDeviceNameInput = $('#deviceName', parent.document);
        const executeDeviceIdInput = $('#deviceId', parent.document);
        const executeDeviceSubTypeInput = $('#deviceSubTypeId', parent.document);

        const formDeviceName = tableCheck.getAttribute('deviceName');
        const formDeviceId = tableCheck.getAttribute('id');
        const formDeviceSubTypeId = tableCheck.getAttribute('deviceSubTypeId');
        const uniquedFormDeviceSubTypeId = $.unique(formDeviceSubTypeId);

        console.log(uniquedFormDeviceSubTypeId);

        if (uniquedFormDeviceSubTypeId.length > 1) {
            layer.alert('请选择同一子类型的设备');
            return;
        }

        executeDeviceNameInput.val(formDeviceName);
        executeDeviceIdInput.val(formDeviceId);
        executeDeviceSubTypeInput.val(formDeviceSubTypeId);

        const index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</html>