<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>

<body>
<div class="x-body">
    <form class="layui-form" id="user-add-form">
        <input type="hidden" name="id" th:value="${lkj15.id}">
        <input type="hidden" name="bureauId" th:value="${lkj15.bureauId}">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>局名
            </label>
            <div class="layui-input-inline">
                <input type="text" required
                       autocomplete="off" class="layui-input layui-bg-gray" readonly="readonly" th:value="${lkj15.bureauName}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>局编号
            </label>
            <div class="layui-input-inline">
                <input type="text" required
                       autocomplete="off" class="layui-input layui-bg-gray" readonly="readonly" th:value="${lkj15.bureauCode}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>线路
            </label>
            <div class="layui-input-inline">
                <select name="railwayLineId" required lay-verify="required" lay-search="" >
                    <option value="">选择或输入线路</option>
                    <option th:each="railwayLine, iterStat : ${railwayLines}" th:value="${railwayLine.id}" th:text="${railwayLine.name}"
                            th:selected="${railwayLine.id == lkj15.railwayLineId}">线路名
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>车站
            </label>
            <div class="layui-input-inline">
                <select name="stationId" id="stationId" required lay-verify="required" lay-search="" >
                    <option value="">选择或输入车站</option>
                    <option th:each="station, iterStat : ${stations}" th:value="${station.id}" th:text="${station.name}"
                            th:selected="${station.id == lkj15.stationId}">车站名
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>设备
            </label>
            <div class="layui-input-inline">
                <select name="deviceId" lay-verify="required" required lay-search="" id="deviceId">
                    <option value="">选择车站后选择设备</option>
                    <option th:each="device, iterStat : ${devices}" th:value="${device.id}" th:text="${device.name}"
                            th:selected="${lkj15.deviceId == device.id}">
                        设备名
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="user-info-display-name" class="layui-form-label">
                <span class="x-red">*</span>行别
            </label>
            <div class="layui-input-inline">
                <input type="text" id="user-info-display-name" name="downriver" required lay-verify="required"
                       autocomplete="off" class="layui-input" th:value="${lkj15.downriver}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>特殊发码点类型
            </label>
            <div class="layui-input-inline">
                <input type="text" name="specialCodeType" required lay-verify="required"
                       autocomplete="off" class="layui-input" th:value="${lkj15.specialCodeType}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>修改标注
            </label>
            <div class="layui-input-inline">
                <input type="text" name="remark" required lay-verify="required"
                       autocomplete="off" class="layui-input" th:value="${lkj15.remark}">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn" lay-filter="add" lay-submit="">
                提交
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        const form = layui.form;

        // 联动选择
        form.on('select()', function (data) {
            stationLinkage(data.elem);
        });

        //监听提交
        form.on('submit(add)', function (data) {
            $.ajax({
                url: '/backstage/lkj15/saveOrUpdate',
                type: 'post',
                data: $('#user-add-form').serialize(),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (!result.success) {
                        layer.alert(result.msg);
                        return false;
                    }

                    layer.alert("增加成功", {icon: 6}, function () {
                        // 获得frame索引
                        const index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });
            return false;
        });
    });


    // 选择车站后，联动设备
    function stationLinkage(e) {
        const id = $(e).attr('id');

        if (id !== 'stationId')
            return;

        const stationId = $(e).val();

        $('#deviceId').html('<option value="">直接选择或搜索选择</option>');
        layui.form.render("select");//重新渲染 固定写法

        $.ajax({
            url: '/client/device/getDevicesByStationId',
            type: 'post',
            data: 'stationId=' + stationId,
            dataType: 'json',
            success: function (result) {
                console.log(result);

                if (!result.success) {
                    alert(result.msg);
                    return false;
                }

                $('#deviceId').html('');
                $('#deviceId').append('<option value="">直接选择或搜索选择</option>');
                $.each(result.obj, function (i, val) {
                    $('#deviceId').append('<option value="' + val.id + '">' + val.name + '</option>')
                });

                layui.form.render("select");//重新渲染 固定写法
            }
        });
    }

</script>
</body>

</html>