<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>

<body>
<div class="x-body">
    <form action="" method="post" id="railway-line-info-form" class="layui-form layui-form-pane">
        <input type="hidden" name="hide" value="0">
        <input type="hidden" name="id" th:value="${measurementTaskDetail.id}">
        <input type="hidden" name="measurementTaskId" th:value="${measurementTaskId}">
        <div class="layui-form-item">
            <label for="deviceName" class="layui-form-label">
                <span class="x-red">*</span>设备
            </label>
            <div class="layui-input-inline" style="width: 400px">
                <input type="text" id="deviceName" name="deviceName" autocomplete="off"
                       placeholder="点击添加设备"
                       disabled class="layui-input">
                <input type="hidden" id="deviceId" required lay-verify="required"
                       name="deviceId"
                       autocomplete="off" class="layui-input">
                <input type="hidden" id="deviceSubTypeId" required lay-verify="required"
                       name="deviceSubTypeId"
                       autocomplete="off" class="layui-input">
            </div>

            <div class="layui-input-inline">
                <div class="layui-btn"
                     th:data-workAreaId = "${workAreaId}"
                     onclick="x_admin_show(
                         '添加测量设备',
                         '/backstage/measurementTaskDetail/addDevices?workAreaId=' + this.getAttribute('data-workAreaId'))">
                    <i class="layui-icon">&#xe642;</i>添加测量设备
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="templateName" class="layui-form-label">
                <span class="x-red">*</span>测量模板
            </label>
            <div class="layui-input-inline" style="width: 400px">
                <input type="text" id="templateName" name="templateName" autocomplete="off"
                       placeholder="点击添加测量模板"
                       th:value="${measurementTaskDetail.templateName}" disabled class="layui-input">
                <input type="hidden" id="measurementTemplateId" required lay-verify="required"
                       name="measurementTemplateId"
                       autocomplete="off" class="layui-input">
            </div>

            <div class="layui-input-inline">
                <div class="layui-btn"
                     onclick="jump2MeasurementTemplate()">
                    <i class="layui-icon">&#xe642;</i>添加测量模板
                </div>
            </div>
        </div>

        <div class="layui-input-intem">
            <button class="layui-btn" lay-submit="" lay-filter="add">提交</button>
        </div>


    </form>
</div>
<script>
    function jump2MeasurementTemplate() {
        const deviceSubTypeId = $('#deviceSubTypeId').val();
        if (!deviceSubTypeId) {
            layer.alert('请先选择设备');
            return;
        }

        x_admin_show('添加测量模板', '/backstage/measurementTaskDetail/addTemplate?deviceSubTypeId=' + deviceSubTypeId);
    }

    function clearExecuteUser() {
        previousExecuteUserNames = $('#executeUserNames').val();
        previousExecuteUserIds = $('#executeUserIds').val();
        $('#executeUserNames').val('')
        $('#executeUserIds').val('')
        layui.form.render("select");//重新渲染 固定写法
    }

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        // 联动选择
        form.on('select()', function (data) {
            userWorkAreaLinkage(data.elem);
        });

        //监听提交
        form.on('submit(add)', function (data) {
            $.ajax({
                url: '/backstage/measurementTaskDetail/saveOrUpdate',
                type: 'post',
                data: $('#railway-line-info-form').serialize(),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (!result.success) {
                        alert(result.msg);
                        return false;
                    }

                    layer.alert("提交成功", {icon: 6}, function () {
                        // 获得frame索引
                        const index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });

            return false;
        });
    });


    function userWorkAreaLinkage(e) {
        const id = $(e).attr('id');

        console.log(id)
        if (id === 'executeUserId')
            userLinkage(e);
        if (id === 'workAreaId')
            workAreaLinkage(e);
    }

    // 选择区间后，联动执行人
    function workAreaLinkage(e) {
        const workAreaId = $(e).val();

        $('#executeUserId').html('<option value="">直接选择或搜索选择</option>');
        layui.form.render("select");//重新渲染 固定写法

        $.ajax({
            url: '/client/user/getUserByWorkAreaId',
            type: 'post',
            data: 'workAreaId=' + workAreaId,
            dataType: 'json',
            success: function (result) {
                console.log(result);

                if (!result.success) {
                    alert(result.msg);
                    return false;
                }

                $.each(result.obj, function (i, val) {
                    $('#executeUserId').append('<option value="' + val.id + '">' + val.displayName + '</option>')
                });

                layui.form.render("select");//重新渲染 固定写法
            }
        });
    }

    // 选择执行人后，联动区间
    function userLinkage(e) {
        const userId = $(e).val();

        $('#workAreaId').html('<option value="">直接选择或搜索选择</option>');
        layui.form.render("select");//重新渲染 固定写法

        $.ajax({
            url: '/client/user/getWorkAreaByUserId',
            type: 'post',
            data: 'userId=' + userId,
            dataType: 'json',
            success: function (result) {
                console.log(result);

                if (!result.success) {
                    alert(result.msg);
                    return false;
                }


                $('#workAreaId').html('');
                $.each(result.obj, function (i, val) {
                    $('#workAreaId').append('<option value="' + val.id + '">' + val.name + '</option>')
                });
                $('#workAreaId').append('<option value="">直接选择或搜索选择</option>');

                layui.form.render("select");//重新渲染 固定写法
            }
        });
    }
</script>
</body>

</html>