<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/lib/layui/lay/modules/laypage.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="backstage-device-form">
            <input type="hidden" name="pageSize" th:value="${page.pageSize}"/>
            <input type="hidden" name="currentPage"/>
            <input type="hidden" name="parentDeviceId" id="parentDeviceId" th:value="${parentDeviceId}"/>

            <input type="text"
                   name="railwayLineName" placeholder="请输入线路名"
                   autocomplete="off" class="layui-input" th:value="${railwayLineName}">
            <input type="text"
                   name="deviceName" placeholder="请输入设备名"
                   autocomplete="off" class="layui-input" th:value="${deviceName}">
            <input type="text"
                   name="deviceCode" placeholder="请输入设备编码"
                   autocomplete="off" class="layui-input" th:value="${deviceCode}">
            <input type="text"
                   name="deviceTypeName" placeholder="请输入设备类型"
                   autocomplete="off" class="layui-input" th:value="${deviceTypeName}">
            <input type="text"
                   name="deviceSubTypeName" placeholder="请输入设备子类型"
                   autocomplete="off" class="layui-input" th:value="${deviceSubTypeName}">


            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="addSubDevice()"><i class="layui-icon"></i>添加子设备</button>
    </xblock>
    <table class="layui-table" lay-filter="akagi">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>所属线路</th>
            <th>设备类型</th>
            <th>设备子类型</th>
            <th>设备名</th>
            <th>编码</th>
            <th>位置信息</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device, iterstart : ${devices}">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary"
                     th:data-id='${device.id}'>
                    <i class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td th:text="${device.railwayLineName}">所属线路</td>
            <td th:text="${device.deviceTypeName}">设备类型</td>
            <td th:text="${device.deviceSubTypeName}">设备子类型</td>
            <td th:text="${device.name}">设备名</td>
            <td th:text="${device.code}">编码</td>
            <td th:text="${device.positionInfo}">位置信息</td>
        </tr>
        </tbody>
    </table>
    <div th:include="/common/page::page('backstage-device-form')"></div>
</div>
<script th:inline="javascript">
    layui.use(['form', 'upload'], function () {
        var $ = layui.jquery
            , upload = layui.upload;
    });

    function addSubDevice() {
        const subDeviceIds = tableCheck.getAttribute('id');
        const parentDeviceId = $('#parentDeviceId').val();

        console.log(subDeviceIds);

        $.ajax({
            url: '/backstage/subDevice/addSubDevice',
            type: 'post',
            data: {
                'subDeviceIds': subDeviceIds,
                'parentDeviceId': parentDeviceId
            },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                if (!result.success) {
                    layer.alert(result.msg);
                    return false;
                }

                layer.alert("增加成功", {icon: 6}, function () {
                    // 获得frame索引
                    const index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload();
                    //关闭当前frame
                    parent.layer.close(index);
                });
            }
        });
    }

</script>
</body>

</html>