<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>

<body>
<div class="x-body">
    <form class="layui-form" id="lkj-task-execute-form">
        <input type="hidden" name="lkjTaskId" th:value="${lkjTask.id}">

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>审核人</label>
            <div class="layui-input-inline">
                <select name="approveUserId" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option th:each="approveUser, iterStat : ${availableApproveUsers}" th:value="${approveUser.id}" th:text="${approveUser.displayName}">审核人
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                审核名称
            </label>
            <div class="layui-input-inline">
                <input type="text" placeholder="如不填写，则系统自动生成" name="name" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                备注
            </label>
            <div class="layui-input-inline">
                <input type="text" name="remark" required class="layui-input">
            </div>
        </div>

        <div class="layui-upload">
            <button type="button" class="layui-btn" id="telegraph-upload">上传电报</button>
            <input type="hidden" name="telegraph" id="telegraph"/>
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="upload-view">
                <p id="demoText"></p>
            </div>
        </div>

        <div class="layui-upload">
            <button class="layui-btn" lay-submit="" lay-filter="add">提交</button>
        </div>
    </form>
</div>
<script>

    layui.use(['form', 'layer', 'upload'], function () {
        var $ = layui.jquery;
        const form = layui.form;
        const upload = layui.upload;

        //监听提交
        form.on('submit(add)', function(data) {
            $.ajax({
                url: '/backstage/lkjTaskExecute/executeLkjTask',
                type: 'post',
                data: $('#lkj-task-execute-form').serialize(),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (!result.success) {
                        alert(result.msg);
                        return false;
                    }

                    layer.alert("提交成功", {icon: 6},function () {
                        // 获得frame索引
                        const index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });

            return false;
        });

        //普通图片上传
        const uploadInst = upload.render({
            elem: '#telegraph-upload',
            url: '/client/upload',
            done: function (res) {
                //如果上传失败
                if (!res.success)
                    return layer.msg(res.msg);
                //上传成功
                let path = res.obj.path;
                $('#upload-view').attr('src', path);
                $('#telegraph').val(path);
            },
            error: function () {
                //演示失败状态，并实现重传
                const demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        // 联动选择
        form.on('select()', function (data) {
            fragmentLinkage(data.elem);
        });
    });

    function fragmentLinkage(e) {
        const id = $(e).attr('id');
        if (id !== 'railway-line-select')
            return;

        const railwayLineId = $(e).val();
        $('#fragment-id').html('<option value="">直接选择或搜索选择</option>');

        layui.form.render("select");//重新渲染 固定写法

        if (!railwayLineId)
            return;

        $.ajax({
            url: '/client/railwayLine/getFragments',
            type: 'post',
            data: 'railwayLineId=' + railwayLineId,
            dataType: 'json',
            success: function (result) {
                if (!result.success) {
                    alert(result.msg);
                    return false;
                }

                $.each(result.obj, function (i, val) {
                    $('#fragment-id').append('<option value="' + val.id + '">' + val.name + '</option>')
                });

                layui.form.render("select");//重新渲染 固定写法
            }
        });
    }
</script>
</body>

</html>