<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>

<body style="background: radial-gradient(ellipse at center, white 0%, white 70%);">
<div class="x-body">
    <form action="" method="post" id="auth-form" class="layui-form layui-form-pane">

        <input type="hidden" name="id" th:value="${role.id}">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>角色名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="role" required lay-verify="required"
                       autocomplete="off" class="layui-input" th:value="${role.role}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>数据权限
            </label>
            <div class="layui-input-inline">
                <select id="organizationPermission" name="organizationPermission"  required lay-verify="required">
                    <option th:selected="${role.organizationPermission == 0}" value="0">车间</option>
                    <option th:selected="${role.organizationPermission == 1}" value="1">站段</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                拥有权限
            </label>
            <table  class="layui-table layui-input-block">
                <tbody>
                    <div>
                        <div>
                            <div th:each="parentMenu,iterStat : ${menuTree}">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="menus" lay-skin="primary" th:title="${parentMenu.name}" title="父节点name"
                                               th:checked="${parentMenu.hasAuth}" th:value="${parentMenu.id}">
                                    </td>
                                    <td>
                                        <div class="layui-input-block">
                                            <input th:each="secondaryMenu,iterStat : ${parentMenu.menuList}"
                                                    name="menus" lay-skin="primary" type="checkbox"
                                                    th:title="${secondaryMenu.name}" title="子节点name"
                                                    th:value="${secondaryMenu.id}" th:checked="${secondaryMenu.hasAuth}">
                                        </div>
                                    </td>
                                </tr>
                                <div>
                                <tr th:each="secondaryMenu,iterStat : ${parentMenu.menuList}">
                                    <td>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span th:text="${secondaryMenu.name}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </td>
                                    <td>
                                        <div class="layui-input-block">
                                            <input th:each="level3Menu,iterStat : ${secondaryMenu.menuList}"
                                                   name="menus" lay-skin="primary" type="checkbox"
                                                   th:title="${level3Menu.name}" title="子节点name"
                                                   th:value="${level3Menu.id}" th:checked="${level3Menu.hasAuth}">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="desc" name="description" class="layui-textarea" th:text="${role.description}"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function(data){
            //发异步，把数据提交给php
            $.ajax({
                url: '/auth/updateAuth',
                type: 'post',
                data: $('#auth-form').serialize(),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (!result.success) {
                        alert(result.msg);
                        return false;
                    }

                    layer.alert("增加成功", {icon: 6},function () {
                        // 获得frame索引
                        const index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });

            return false;
        });


    });
</script>
</body>

</html>