<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <link rel="stylesheet" href="/lib/layui/2.5.6/css/layui.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/2.5.6/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/backstage/line-tree.js"></script>
    <script src="/js/util.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="/js/template/html5shiv.r29.html5.min.js"></script>
    <script src="/js/template/respond-1.4.2.min.js"></script>
    <![endif]-->


    <style>
        .layui-form-select .layui-input {
            height: 30px;
            line-height: 30px;
            width: 4cm;
        }


    </style>

</head>

<body>


<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>

<table width="800px" height="100%">
    <tr>
        <td rowspan="2" width="220px">
            <div style='overflow:scroll;width:220px;float:left;height:810px;'>
                <!--    <div style="height: 50px; text-align: center; background-color: rgba(90,72,72,0.05); line-height: 4">设备台账</div>-->
                <div id="lineTree"></div>
            </div>
        </td>
        <td>
            <table id="parentTable" style="width: 1480px"></table>
            <table id="deviceTable"></table>
        </td>
    </tr>

    <tr>
        <td>
            <table id="childrenTable" lay-filter="childrenEvent"></table>
        </td>
    </tr>
</table>


<!-- 线路 toolbar 模板 -->
<script type="text/html" id="lineToolbar">
    <div class='layui-btn' style="height: 30px; line-height: 30px"
         onclick="x_admin_show('添加线路', '/backstage/line/railwayLineInfo', 800, 560)"><i class="layui-icon"></i>添加
    </div>

</script>

<!-- 车站 toolbar 模板 -->
<script type="text/html" id="stationToolbar">

    <button class="layui-btn layui-btn-sm" lay-event="addStation">添加</button>

    <div class="layui-input-inline">
        <select name="workshopId" lay-search="" id="workshopId">
            <option value="">选择或输入车间</option>
            <option th:each="workshop, iterstart : ${workshops}" th:value="${workshop.id}"
                    th:text="${workshop.name}">
                类型名
            </option>
        </select>
    </div>
    <input type="text" name="stationCode" id="stationCode" placeholder="请输入车站编码" class="layui-inline" style="height: 27px">
    <!--   <div class="layui-btn layui-btn-sm" id="serachStation" type="button" lay-even="serachStation"><i class="layui-icon">&#xe615;</i></div>-->
    <button class="layui-btn layui-btn-sm" lay-event="serachStation"><i class="layui-icon">&#xe615;</i></button>

</script>

<!-- 设备台账 toolbar 模板 -->
<script type="text/html" id="deviceButton">
    <div class='layui-btn' style="height: 30px; line-height: 30px" th:id="node.id"
         onclick="x_admin_show('添加', '/backstage/device/addPage?deviceTypeId=' + this.getAttribute('device-type-id'), 1200, 800)">
        <i class="layui-icon"></i>添加
    </div>

    <div class='layui-btn' style="height: 30px; line-height: 30px" type="button" id="import-semaphores"><i
            class="layui-icon"></i>导入信号机
    </div>

    <div class='layui-btn' style="height: 30px; line-height: 30px" type="button" id="import-device"><i
            class="layui-icon"></i>导入设备
    </div>

    <div class='layui-btn' style="height: 30px; line-height: 30px" type="button" id="downloadQrcodes"
         onclick="downloadQrcodes()"><i class="layui-icon"></i>下载二维码
    </div>

    </div>

</script>

<div id="qrcode" style="display:none"></div>
<a id="download" download="qrcode.jpg" style="display:none"></a>
<button id="save" style="display:none">save</button>
<script type="text/javascript" src="/js/qrcode/device-qrcode.js"></script>
<script type="text/javascript" src="/js/zip/zip.js"></script>
<script>
    let pageDevice = [];

    //初始化
    $(function () {
        $.ajax({
            url: '/backstage/lineTree/nodeInfo',
            dataType: 'json',
            success: function (data) {
                layui.use('tree', function () {
                    let tree = layui.tree;
                    tree.render({
                        elem: '#lineTree',
                        data: convert(data),
                        click: function (obj) {
                            const node = obj.data; // 点击时当前节点
                            const children = obj.data.children; //当前节点下 节点信息

                            nodeMethod(node, children);
                        }
                    });
                });

                const orgObj = data.obj;
                let node = {
                    id: orgObj.id,
                    name: orgObj.name,
                    level: 0
                };
                nodeMethod(node, null);
            }
        });
    });

    //组织节点
    function convert(data) {
        let nodes = [];
        const orgInfo = data.obj;
        nodes.push({
            id: orgInfo.id,
            title: orgInfo.name,
            children: lineNode(orgInfo.railwayLineList),
            level: 0
        });
        return nodes;
    }


    //线路节点
    function lineNode(lineInfo) {
        let nodes = [];
        for (let i = 0; i < lineInfo.length; i++) {
            const lineObj = lineInfo[i];
            nodes.push({
                id: lineObj.id,
                title: lineObj.name,
                children: stationNode(lineObj),
                level: 1
            })
        }
        return nodes;
    }

    //车站节点
    function stationNode(lineObj) {
        const stationList = lineObj.stationList;
        const childrens = [];
        if (stationList != null) {
            for (let i = 0; i < stationList.length; i++) {
                const stationObj = stationList[i];
                childrens.push({
                    id: stationObj.id,
                    title: stationObj.name,
                    children: deviceTypeNode(stationObj),
                    level: 2
                });
            }
        }
        return childrens;
    }

    //设备类型节点
    function deviceTypeNode(stationObj) {
        const deviceTypeList = stationObj.deviceTypeList;
        const stationId = stationObj.id;
        const childrens = [];
        if (deviceTypeList != null) {
            for (let i = 0; i < deviceTypeList.length; i++) {
                const deviceTypeObj = deviceTypeList[i];
                childrens.push({
                    id: deviceTypeObj.id,
                    title: deviceTypeObj.name,
                    stationId: stationId,
                    level: 3
                });
            }

        }
        return childrens;
    }


    // 操作节点信息
    function nodeMethod(node, children) {
        const nodeId = node.id; // 当前节点id
        const level = node.level; // 当前节点level
        const name = node.name;
        layui.use(['table', 'form', 'upload'], function () {

            let table = layui.table,
                form = layui.form,
                upload = layui.upload;

            if (level === 0) {
                initLines(table, nodeId);
                return;
            }

            // 展示线路
            if (level === 1) {
                $('#deviceTable').next().hide();
                table.render({
                    elem: '#parentTable',
                    url: '/backstage/lineTree/lineTable',
                    height: 390,
                    cols: [
                        [ //表头
                            {
                                field: 'name',
                                title: '线路名称',
                                width: 250,
                                sort: false,
                                fixed: 'left',
                                templet: function (d) {
                                    return d.name;
                                }
                            },
                            {field: 'bureauName', title: '局名', width: 250, edit: 'text'},
                            {field: 'code', title: '线路编码', width: 148, sort: false},
                            {
                                field: 'id',
                                fixed: 'right',
                                title: '操作',
                                width: 500,
                                align: 'center',
                                templet: function (d) {
                                    let id = d.id;
                                    return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                        "onclick=\"x_admin_show('编辑', '/backstage/line/railwayLineInfo?id='+ this.getAttribute('data-id'), 800, 560)\" >" +
                                        "<i class='layui-icon'>&#xe642;</i> 编辑 </div> "
                                }
                            }
                        ]
                    ],
                    where: {
                        nodeId: nodeId
                    },
                    page: true,   //开启分页
                    limit: 10,   //默认十条数据一页
                    limits: [10, 20, 30, 50]  //数据分页条
                });

                if (!children)
                    return;

                table.render({
                    elem: '#childrenTable',
                    url: '/backstage/lineTree/stationChildrenTable',
                    height: 390,
                    toolbar: '#stationToolbar',
                    defaultToolbar: ['filter', 'print', 'exports']
                    , where: {
                        nodeId: nodeId,
                        lineName: name
                    },
                    page: true,   //开启分页
                    limit: 10,   //默认十条数据一页
                    limits: [10, 20, 30, 50],  //数据分页条
                    cols: [
                        [ //表头
                            {
                                field: 'code', title: '车站编码', width: 250, sort: false, fixed: 'left',
                                templet: function (d) {
                                    return d.code;
                                }
                            },
                            {field: 'name', title: '车站名称', width: 250, edit: 'text'},
                            {field: 'workshopName', title: '所属车间', width: 148, sort: false},
                            {
                                field: 'hide', title: '状态', width: 80, templet: function (d) {
                                    return d.hide === 0 ? "显示" : "隐藏";
                                }
                            },
                            {
                                field: 'id',
                                fixed: 'right',
                                title: '操作',
                                width: 415,
                                align: 'center',
                                templet: function (d) {
                                    let id = d.id;
                                    return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                        "onclick=\"x_admin_show('编辑', '/backstage/station/infoPage?id='+ this.getAttribute('data-id'), 800, 600)\" >" +
                                        "<i class='layui-icon'>&#xe642;</i> 编辑 </div> " +

                                        "<div class='layui-btn layui-btn-warm layui-btn-xs' data-id='" + id + "' " +
                                        "onclick=\"x_admin_show('编辑', '/backstage/line/stationLineList?stationId='+ this.getAttribute('data-id'), 1400, 750) \">" +
                                        "<i class=\"layui-icon\">&#xe642;</i> 关联线路 </div>" +

                                        "<button data-id='" + id + "' data-has-slave ='" + d.hasSlave + "' onclick=\"member_del(this)\" href='javascript:;' class='layui-btn-danger layui-btn layui-btn-xs'><i class='layui-icon'>&#xe640;</i>隐藏</button> "
                                }
                            }
                        ]
                    ]
                });
            }


            //展示车站table
            if (level === 2) {
                $('#deviceTable').next().hide();
                table.render({
                    elem: '#parentTable'
                    , url: '/backstage/lineTree/stationTable'
                    , height: 390
                    , page: true   //开启分页
                    , limit: 10   //默认十条数据一页
                    , limits: [10, 20, 30, 50]  //数据分页条
                    , where: {
                        nodeId: nodeId
                    }
                    , cols: [
                        [ //表头
                            {
                                field: 'code',
                                title: '编码',
                                width: 250,
                                sort: false,
                                fixed: 'left',
                                templet: function (d) {
                                    return d.code;
                                }
                            },
                            {field: 'name', title: '名称', width: 250, edit: 'text'},
                            {field: 'sectionName', title: '电务段', width: 148, sort: false},
                            {field: 'workshopName', title: '所属车间', width: 148, sort: false},
                            {field: 'lineName', title: '所属线路', width: 148, sort: false},
                            {
                                field: 'hide', title: '状态', width: 100, templet: function (d) {
                                    if (d.hide == 0) {
                                        return "显示"
                                    }
                                    return "隐藏"
                                }
                            },
                            {
                                field: 'id',
                                fixed: 'right',
                                title: '操作',
                                width: 415,
                                align: 'center',
                                templet: function (d) {
                                    let id = d.id;
                                    return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                        "onclick=\"x_admin_show('编辑', '/backstage/station/infoPage?id='+ this.getAttribute('data-id'), 800, 600)\" >" +
                                        "<i class='layui-icon'>&#xe642;</i> 编辑 </div> " +

                                        "<div class='layui-btn layui-btn-warm layui-btn-xs' data-id='" + id + "' " +
                                        "onclick=\"x_admin_show('编辑', '/backstage/line/stationLineList?stationId='+ this.getAttribute('data-id'), 1400, 750) \">" +
                                        "<i class=\"layui-icon\">&#xe642;</i> 关联线路 </div>" +

                                        "<button data-id='" + id + "' data-has-slave ='" + d.hasSlave + "' onclick=\"member_del(this)\" href='javascript:;' class='layui-btn-danger layui-btn layui-btn-xs'><i class='layui-icon'>&#xe640;</i>隐藏</button> "
                                }
                            }
                        ]
                    ],

                });

                if (children != null) {
                    table.render({
                        elem: '#childrenTable'
                        , url: '/backstage/lineTree/deviceTypeChildrenTable'
                        , height: 390
                        , page: true   //开启分页
                        , limit: 10   //默认十条数据一页
                        , limits: [10, 20, 30, 50]  //数据分页条
                        , where: {
                            nodeId: nodeId,
                            lineName: name
                        }
                        , cols: [
                            [ //表头
                                {
                                    field: 'name',
                                    title: '类型',
                                    width: 250,
                                    sort: false,
                                    fixed: 'left',
                                    templet: function (d) {
                                        return d.name;
                                    }
                                },
                                {field: 'addTime', title: '添加时间', width: 250, edit: 'text'},
                                {
                                    field: 'id', fixed: 'right', title: '操作', width: 600, align: 'center',
                                    templet: function (d) {
                                        let id = d.id;
                                        return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                            "onclick=\"x_admin_show('编辑', '/backstage/deviceType/info?id='+ this.getAttribute('data-id'), 800, 600)\" >" +
                                            "<i class='layui-icon'>&#xe642;</i> 编辑 </div> " +

                                            "<div class='layui-btn layui-btn-warm layui-btn-xs' data-id='" + id + "' " +
                                            "onclick=\"x_admin_show('扩展字段信息', '/backstage/deviceType/deviceExtendField?pageSize=5&deviceTypeId='+ this.getAttribute('data-id'), 1400, 750) \">" +
                                            "<i class=\"layui-icon\">&#xe642;</i> 扩展字段信息 </div>" +

                                            "<div class='layui-btn layui-btn-warm layui-btn-xs' data-id='" + id + "' " +
                                            "onclick=\"x_admin_show('测量字段信息', '/backstage/deviceType/deviceMeasurementItem?pageSize=5&deviceTypeId='+ this.getAttribute('data-id'), 1400, 750) \">" +
                                            "<i class=\"layui-icon\">&#xe642;</i> 测量字段信息 </div>" +

                                            "<div class='layui-btn layui-btn-warm layui-btn-xs' data-id='" + id + "' " +
                                            "onclick=\"x_admin_show('子类型信息', '/backstage/deviceType/deviceSubTypeInfo?pageSize=5&deviceTypeId='+ this.getAttribute('data-id'), 1400, 750) \">" +
                                            "<i class=\"layui-icon\">&#xe642;</i> 子类型信息 </div>"

                                    }
                                }
                            ]
                        ],

                    });
                }
            }

            //点击 设备类型的时候 展示设备台账
            if (level === 3) {
                $('#parentTable').next().hide();
                $('#childrenTable').next().hide();
                table.render('#parentTable');
                table.render({
                    elem: '#deviceTable'
                    , url: '/backstage/lineTree/deviceTable'
                    , height: 810
                    , toolbar: '#deviceButton'
                    , page: true   //开启分页
                    , limit: 20   //默认十条数据一页
                    , limits: [10, 20, 30, 50]  //数据分页条
                    , where: {
                        stationId: node.stationId,
                        deviceTypeId: node.id
                    }
                    , cols: [
                        [ //表头
                            {
                                fixed: 'checkDevice', type: 'checkbox'
                            },
                            {
                                field: 'code', title: '设备名', width: 450, align: 'left',
                                templet: function (device) {
                                    if (device.hasSubDevice === 1) {
                                        return  "" +
                                            "<div id='" + device.id + "' onclick='appendSubDevices(this)' data-device-id='" + device.id + "'>" +
                                                "<span class='layui-tree-iconClick layui-tree-icon' style='width: 14px;line-height: 10px;height: 14px'>" +
                                                    "<i id='icon" + device.id + "' class='layui-icon layui-icon-addition'></i>" +
                                                "</span>" +
                                                "<span>" + device.name + "</span>" +
                                            "</div>";
                                    } else {
                                        return  "<div>" +
                                            "<span style='margin-left: 34px;'>" +
                                            "</span>" +
                                            "<span>" + device.name + "</span>" +
                                            "</div>";
                                    }
                                }
                            },
                            {field: 'code', title: '编码', sort: false},
                            {field: 'deviceTypeName', title: '设备类型', sort: false},
                            {field: 'deviceSubTypeName', title: '设备子类型', sort: false},
                            {field: 'positionInfo', title: '位置信息', sort: false},
                            {
                                field: 'hide', title: '状态', width: 80, templet: function (d) {
                                    if (d.hide === 0) {
                                        return "显示"
                                    }
                                    return "隐藏"
                                }
                            },
                            {
                                field: 'id', fixed: 'right', title: '操作', width: 150, align: 'center',
                                templet: function (d) {
                                    let id = d.id;
                                    return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                        "onclick=\"x_admin_show('编辑', '/backstage/device/infoPage?id='+ this.getAttribute('data-id'), 1200, 800)\" >" +
                                        "<i class='layui-icon'>&#xe642;</i> 编辑 </div> "
                                }
                            }
                        ]
                    ],
                });
            }

            //导入信号机
            upload.render({
                elem: '#import-semaphores'
                , url: '/backstage/device/importSemaphore'
                , accept: 'file' //普通文件
                , done: function (res) {
                    if (!res.isSuccess)
                        layer.alert(res.msg);
                    $('#find').click();
                }
            });

            //导入设备
            upload.render({
                elem: '#import-device'
                , url: '/backstage/device/importDevice'
                , accept: 'file' //普通文件
                , done: function (res) {
                    if (!res.isSuccess)
                        layer.alert(res.msg);
                    else
                        layer.alert('提交成功');
                    $('#find').click();
                }
            });

            table.on('toolbar(childrenEvent)', function (obj) {
                switch (obj.event) {
                    case 'addStation':
                        x_admin_show('添加车站', '/backstage/station/addPage?lineId=' + nodeId, 800, 560);
                        break;
                    case 'serachStation':
                        let stationCode = $('#stationCode').val();
                        let workshopId = $('#workshopId option:selected').val(); //获取选中的项

                        layui.use('table', function () {
                            let table = layui.table;
                            table.reload('childrenTable', {
                                page: {//重新从第一页开始
                                    curr: 1
                                },
                                where: { //条件
                                    workshopId: workshopId,
                                    stationCode: stationCode
                                },
                                done: function () {

                                    $('#stationCode').val(stationCode);
                                    // $("#workshopId").val("楚雄车间");
                                    var all_select = $("#workshopId > option");
                                    for (var i = 0; i < all_select.length; i++) {
                                        var svalue = all_select[i].value;
                                        if (workshopId === svalue) {  //取select中所有的option的值与其进行对比，相等则令这个option添加上selected属性
                                            // $("#workshopId").prop("value",workshopId);
                                            $("#workshopId option[value='" + workshopId + "']").prop("selected", true);
                                            break; //退出循环
                                        }
                                    }
                                }
                            });
                        });
                        break;//退出case
                }
            })

        });
    }

    function foldSubDevices(e) {
        let parentDevcieId = e.getAttribute("data-device-id");
        layui.use(['table'], function () {
            let table = layui.table
            var originalDatas = table.cache["deviceTable"]; //获取现有数据

            let newDatas = [];
            for (let i = 0; i < originalDatas.length; i++) {
                let originalData = originalDatas[i];
                if (originalData.parentIdList && originalData.parentIdList.indexOf(parentDevcieId) > -1)
                    continue;
                newDatas.push(originalData);
            }

            table.render({
                elem: '#deviceTable',
                data : newDatas
                , height: 810
                , toolbar: '#deviceButton',
                page: true,
                limit: 10000
                , done: function(res, curr, count){
                }
                , cols: [
                    [ //表头
                        {
                            fixed: 'checkDevice', type: 'checkbox'
                        },
                        {
                            field: 'code', title: '设备名', width: 150, align: 'left',
                            templet: function (device) {
                                if (device.hasSubDevice === 1) {
                                    return  "" +
                                        "<div id='" + device.id + "' onclick='appendSubDevices(this)' data-device-id='" + device.id + "'>" +
                                        "<span class='layui-tree-iconClick layui-tree-icon' style='width: 14px;line-height: 10px;height: 14px'>" +
                                        "<i id='icon" + device.id + "' class='layui-icon layui-icon-addition'></i>" +
                                        "</span>" +
                                        "<span>" + device.name + "</span>" +
                                        "</div>";
                                } else {
                                    return  "<div>" +
                                        "<span style='margin-left: 34px;'>" +
                                        "</span>" +
                                        "<span>" + device.name + "</span>" +
                                        "</div>";
                                }
                            }
                        },
                        {field: 'code', title: '编码', sort: false},
                        {field: 'deviceTypeName', title: '设备类型', sort: false},
                        {field: 'deviceSubTypeName', title: '设备子类型', sort: false},
                        {field: 'positionInfo', title: '位置信息', sort: false},
                        {
                            field: 'hide', title: '状态', width: 80, templet: function (d) {
                                if (d.hide === 0) {
                                    return "显示"
                                }
                                return "隐藏"
                            }
                        },
                        {
                            field: 'id', fixed: 'right', title: '操作', width: 150, align: 'center',
                            templet: function (d) {
                                let id = d.id;
                                return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                    "onclick=\"x_admin_show('编辑', '/backstage/device/infoPage?id='+ this.getAttribute('data-id'), 1200, 800)\" >" +
                                    "<i class='layui-icon'>&#xe642;</i> 编辑 </div> "
                            }
                        }
                    ]
                ],
            });

            $('#icon' + parentDevcieId).attr('class', 'layui-icon layui-icon-addition')
        });
    }

    function appendSubDevices(e) {
        let parentDevcieId = e.getAttribute("data-device-id");

        if ($('#icon' + parentDevcieId).attr('class') === 'layui-icon layui-icon-subtraction') {
            foldSubDevices(e);
            return;
        }

        $.ajax({
            url: '/backstage/subDevice/getSubDevices',
            type: 'post',
            data: {
                parentDeviceId : parentDevcieId
            },
            dataType: 'json',
            success: function (result) {
                if (!result.success) {
                    layer.alert(result.msg);
                    return false;
                }

                layui.use(['table'], function () {
                    let table = layui.table
                    var originalDatas = table.cache["deviceTable"]; //获取现有数据

                    let subDevices = result.obj;

                    let newDatas = [];
                    for (let i = 0; i < originalDatas.length; i++) {
                        let originalData = originalDatas[i];
                        newDatas.push(originalData)
                        if (originalData.id === parentDevcieId) {
                            for (let j = 0; j < subDevices.length; j++) {
                                let subDevice = subDevices[j];
                                subDevice.parentIdList = subDevice.parentIdList ? subDevice.parentIdList + parentDevcieId : parentDevcieId;
                                subDevice.name = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + subDevice.name;
                                newDatas.push(subDevice);
                            }
                        }
                    }

                    console.log(newDatas);
                    table.render({
                        elem: '#deviceTable',
                        data : newDatas
                        , height: 810
                        , toolbar: '#deviceButton',
                        page: true,
                        limit: 10000
                        , done: function(res, curr, count){
                        }
                        , cols: [
                            [ //表头
                                {
                                    fixed: 'checkDevice', type: 'checkbox'
                                },
                                {
                                    field: 'code', title: '设备名', width: 450, align: 'left',
                                    templet: function (device) {
                                        if (device.hasSubDevice === 1) {
                                            return  "" +
                                                "<div id='" + device.id + "' onclick='appendSubDevices(this)' data-device-id='" + device.id + "'>" +
                                                "<span class='layui-tree-iconClick layui-tree-icon' style='width: 14px;line-height: 10px;height: 14px'>" +
                                                "<i id='icon" + device.id + "' class='layui-icon layui-icon-addition'></i>" +
                                                "</span>" +
                                                "<span>" + device.name + "</span>" +
                                                "</div>";
                                        } else {
                                            return  "<div>" +
                                                "<span style='margin-left: 34px;'>" +
                                                "</span>" +
                                                "<span>" + device.name + "</span>" +
                                                "</div>";
                                        }
                                    }
                                },
                                {field: 'code', title: '编码', sort: false},
                                {field: 'deviceTypeName', title: '设备类型', sort: false},
                                {field: 'deviceSubTypeName', title: '设备子类型', sort: false},
                                {field: 'positionInfo', title: '位置信息', sort: false},
                                {
                                    field: 'hide', title: '状态', width: 80, templet: function (d) {
                                        if (d.hide === 0) {
                                            return "显示"
                                        }
                                        return "隐藏"
                                    }
                                },
                                {
                                    field: 'id', fixed: 'right', title: '操作', width: 150, align: 'center',
                                    templet: function (d) {
                                        let id = d.id;
                                        return "<div class='layui-btn layui-btn layui-btn-xs' data-id='" + id + "' " +
                                            "onclick=\"x_admin_show('编辑', '/backstage/device/infoPage?id='+ this.getAttribute('data-id'), 1200, 800)\" >" +
                                            "<i class='layui-icon'>&#xe642;</i> 编辑 </div> "
                                    }
                                }
                            ]
                        ],
                    });

                    $('#icon' + parentDevcieId).attr('class', 'layui-icon layui-icon-subtraction')
                });
            }
        });


    }

    // 下载二维码
    function downloadQrcodes() {

        // th:data-description="${device.railwayLineName + '-' + device.name}"
        // th:data-id='${device.id}'>

        let deviceIds = [];
        tableCheck.getAttribute('id');
        let descriptions = [];
        tableCheck.getAttribute('description')
        for (let i = 0; i < pageDevice.length; i++) {
            let device = pageDevice[i];
            deviceIds.push(device.id);
            descriptions.push(device.railwayLineName + '-' + device.name);
        }

        const zip = new JSZip();
        for (let i = 0; i < deviceIds.length; i++) {
            let deviceId = deviceIds[i];
            let description = descriptions[i];

            downloadQrcode(zip, "{\"deviceId\":" + "\"" + deviceId + "\"" + "}", description);
        }

        // 生成zip文件并下载
        zip.generateAsync({
            type: 'blob'
        }).then(function (content) {
            // 下载的文件名
            const filename = 'qrcode.zip';
            // 创建隐藏的可下载链接
            const eleLink = document.createElement('a');
            eleLink.download = filename;
            eleLink.style.display = 'none';
            // 下载内容转变成blob地址
            eleLink.href = URL.createObjectURL(content);
            // 触发点击
            document.body.appendChild(eleLink);
            eleLink.click();
            // 然后移除
            document.body.removeChild(eleLink);
        });
    }

    function downloadQrcode(zip, text, description) {
        let canvas = $("#qrcode canvas")[0];
        if (canvas)
            $("#qrcode").html('');

        jQuery('#qrcode').qrcode({
            width: 500,
            height: 500,
            text: text
        });
        const context = $("#qrcode canvas")[0].getContext('2d');
        context.fillStyle = '#000';
        // context.font = '24px 黑体';
        context.font = "30px Verdana";
        // context.fillText("Hello World!",10,50);
        context.fillText(description, 40, 560);
        let url = $("#qrcode canvas")[0].toDataURL('image/png', 1);
        url = url.replace("data:image/png;base64,", "");

        // $("#download").attr('href', url).get(0).click();

        zip.file(description + ".png", url, {base64: true});
    }

</script>
</body>

</html>