<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/lib/layui/lay/modules/laypage.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="backstage-submit-form">
            <input type="hidden" name="pageSize" th:value="${page.pageSize}"/>
            <input type="hidden" name="currentPage"/>

            <input type="text" name="name" placeholder="请输入审批名称" autocomplete="off" class="layui-input"
                   th:value="${name}">
            <input type="text" name="submitUserName" placeholder="请输入提报人姓名" autocomplete="off" class="layui-input"
                   th:value="${submitUserName}">

            <div class="layui-input-inline">
                <select name="workAreaId">
                    <option value="">提报人工区</option>
                    <option th:each="workArea, iterstart : ${workAreas}" th:value="${workArea.id}" th:text="${workArea.name}"
                            th:selected="${workArea.id == workAreaId}">提报人工区</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="approveStatusStr">
                    <option value="">选择审核状态</option>
                    <option value="0" th:selected="${approveStatus == '0'}">待审核</option>
                    <option value="1" th:selected="${approveStatus == '1'}">通过</option>
                    <option value="2" th:selected="${approveStatus == '2'}">未通过</option>
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table" lay-filter="akagi">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
            </th>
            <th>审批</th>
            <th>提报人工区</th>
            <th>提报人</th>
            <th>状态</th>
            <th>电报</th>
            <th>加入时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dataApproveFlow, iterstart : ${dataApproveFlows}">
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td th:text="${dataApproveFlow.name}">审批名</td>
            <td th:text="${dataApproveFlow.submitUserWorkAreaName}">提报人工区</td>
            <td th:text="${dataApproveFlow.submitUserName}">提报人</td>

            <!-- 提报人工区 -->
            <td th:if="${dataApproveFlow.approveStatus == 0}">待审核</td>
            <td th:if="${dataApproveFlow.approveStatus == 1}">已通过</td>
            <td th:if="${dataApproveFlow.approveStatus == 2}">未通过</td>
            <!-- end of 提报人工区 -->

            <th><img th:data-src="${dataApproveFlow.telegraph}" onclick="show_img(this)"
                     th:src="${dataApproveFlow.telegraph}"/></th>
            <td th:text="${dataApproveFlow.addTime}">addTime</td>
            <td class="td-manage">
                <a th:data-id="${dataApproveFlow.id}" class="layui-btn layui-btn-sm layui-btn-primary"
                   href="javascript:;" title="查看"
                   onclick="x_admin_show('查看',
                      '/backstage/approveData/approveFlowInfoRouting?id='
                      + this.getAttribute('data-id') + '&dataTypeId=14', 1500, 800)">查看详情
                </a>

                <h th:if="${dataApproveFlow.dataApproveNode.userApproveStatus == 0}">
                    <a th:data-id="${dataApproveFlow.id}" class="layui-btn layui-btn-sm layui-btn-normal"
                       href="javascript:;" title="通过"
                       onclick="x_admin_show('通过审批', '/backstage/lkjApproveUpdate/agreeApprovePage?id=' + this.getAttribute('data-id'), 800, 400)">
                        通过
                    </a>
                    <a title="编辑" th:data-id="${dataApproveFlow.id}" class="layui-btn layui-btn-sm layui-btn-warm"
                       onclick="x_admin_show('拒绝审批','/backstage/lkjApproveUpdate/refuseApprovePage?id=' + this.getAttribute('data-id'), 800, 400)"
                       href="javascript:;">
                        拒绝
                    </a>
                </h>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="/common/page::page('backstage-submit-form')"></div>

</div>
<script th:inline="javascript">

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }

    function merge(res) {

        var data = res.data;
        var mergeIndex = 0;//定位需要添加合并属性的行数
        var mark = 1; //这里涉及到简单的运算，mark是计算每次需要合并的格子数
        var columsName = ['id', 'name'];//需要合并的列名称
        var columsIndex = [0, 1];//需要合并的列索引值

        for (var k = 0; k < columsName.length; k++) { //这里循环所有要合并的列
            var trArr = $(".layui-table-body>.layui-table").find("tr");//所有行
            for (var i = 1; i < res.data.length; i++) { //这里循环表格当前的数据
                var tdCurArr = trArr.eq(i).find("td").eq(columsIndex[k]);//获取当前行的当前列
                var tdPreArr = trArr.eq(mergeIndex).find("td").eq(columsIndex[k]);//获取相同列的第一列

                if (data[i][columsName[k]] === data[i - 1][columsName[k]]) { //后一行的值与前一行的值做比较，相同就需要合并
                    mark += 1;
                    tdPreArr.each(function () {//相同列的第一列增加rowspan属性
                        $(this).attr("rowspan", mark);
                    });
                    tdCurArr.each(function () {//当前行隐藏
                        $(this).css("display", "none");
                    });
                } else {
                    mergeIndex = i;
                    mark = 1;//一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
                }
            }
            mergeIndex = 0;
            mark = 1;
        }
    }
</script>
</body>

</html>